<div class="container">
  <div class="local_title">
    <h2>新規登録</h2>
  </div>
  <div class="form_field form_sign_up">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label "ニックネーム (任意)" %><br />
        <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: "例 : ポコ", class: "form-control form-control-lg" %>
      </div>

      <div class="field">
        <%= f.label "メールアドレス (必須)" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "例 : info@example.com", class: "form-control form-control-lg" %>
      </div>

      <div class="field">
        <%= f.label "パスワード (必須)" %>
        <%= f.password_field :password, autocomplete: "new-password", placeholder: "例 : ・・・・・・　　#{ @minimum_password_length }文字以上", class: "form-control form-control-lg" %>
      </div>

      <div class="field">
        <%= f.label "パスワード確認 (必須)" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "例 : ・・・・・・", class: "form-control form-control-lg" %>
      </div>

      <div class="actions">
        <%= f.submit "新規登録", class: "btn-original" %>
      </div>
    <% end %>
    <%= render "users/shared/links" %>
  </div>
</div>